################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WTViewer
/WTViewer/bin/Debug
/WTViewer/obj/Debug
